.card-footer button {
    margin-right: 5px;
}

.profile-img-container {
    border: 2px solid #ccc;
    padding: 3px;
    margin-bottom: 20px;
}
.profile-img-container img {
    width: 100%;
}
#profile-image-form .img-avatar {
    width: 100%;
}
#users-table .img-avatar {
    width: 32px;
}